<div class="text-small"><%= question_author(question) %> задал вопрос пользователю <%= question_destination(question) %></div>

<div class="text-blue question-line-break">
  <%= sanitize text_with_hashtag_link(question.body) %>
</div>

<% if question.answer.present? %>
  <div class="text-dark-pink question-line-break">
    <%= sanitize text_with_hashtag_link(question.answer) %>
  </div>
<% end %>

<div class="text-small question-footer mt-lg">
  <div class="semitransparent">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if question.hidden? %>
    <div class="text-small semitransparent">Вопрос скрыт</div>
  <% end %>

  <% if current_user == question.user %>
    <div class="text-right ">
      <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), class: "button-pink mr", title: "Редактировать вопрос" %>

      <% unless question.hidden? %>
        <%= button_to fa_icon("eye-slash"), hide_question_path(question), class: "button-pink mr",
                      method: :patch,
                      title: "Скрыть вопрос",
                      form: {data: {turbo_confirm: 'Вы уверены, что хотите скрыть вопрос?'}} %>
      <% end %>

      <%= button_to fa_icon("trash-o"), question_path(question), class: "button-pink",
                    method: :delete,
                    title: "Удалить вопрос",
                    form: {data: {turbo_confirm: 'Вы уверены, что хотите удалить вопрос?'}} %>
    </div>
  <% end %>
</div>
