<div class="container mb-sm">
  <h2 class="title-large mb-lg">Недавно добавились</h2>
  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: "users/user_avatar", locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class="container mb-sm">
  <h2 class="title-large mb-lg">Хештеги</h2>
  <%= render @hashtags %>
</div>

<div class="container mb-sm">
  <h2 class="title-large">
    <%= inclination(@questions.count, "Крайний", "Крайние", "Крайние") %>
    <%= @questions.count %>
    <%= inclination(@questions.count, "вопрос", "вопроса", "вопросов") %>
  </h2>
</div>

<% @questions.each do |question| %>
  <% style = question.hidden? ? "semitransparent" : "" %>
  <div class="container mb-sm <%= style %>">
    <%= render question %>
  </div>
<% end %>
