<div class="container">
  <h2 class="title-large mb">Новый вопрос</h2>

  <%= form_with model: @question do |form| %>
    <p class="mb-sm"><%= form.label :body, "Текст вопроса" %></p>
    <p class="mb-sm"><%= form.text_area :body, rows: 5, class: "form-text-area" %></p>

    <p class="mb-sm"><%= form.label :user_id %></p>
    <p class="mb-sm"><%= form.text_field :user_id, class: "form-text-field" %></p>

    <p class="mt-lg">
      <%= form.submit "Отправить", class: "button button-main" %> или
      <%= link_to "Вернуться", :back %>
    </p>
  <% end %>
</div>
