<div class="container">
  <h2 class="title">Редактирование профиля</h2>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <p class="text-red mt"><%= message %></p>
    <% end %>
  <% end %>

  <div class="mt">
    <%= form_with model: @user, data: {turbo: false} do |form| %>
      <p class="mt"><%= form.label :name, "Ваше имя" %></p>
      <p class="mt-sm"><%= form.text_field :name, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :nickname, "Никнейм" %></p>
      <p class="mt-sm"><%= form.text_field :nickname, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :header_color, "Выбрать цвет шапки" %></p>
      <p class="mt-sm"><%= form.color_field :header_color, class: "form-color-field" %></p>

      <p class="mt">Если не хотите менять пароль, оставьте поля пустыми</p>

      <p class="mt"><%= form.label :password, "Пароль" %></p>
      <p class="mt-sm"><%= form.password_field :password, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :password_confirmation, "Подтвердите пароль" %></p>
      <p class="mt-sm"><%= form.password_field :password_confirmation, class: "form-text-field" %></p>

      <p class="mt-lg">
        <%= form.submit "Сохранить", class: "button button-main"%>
        <span>или <%= link_to "Вернуться", :back %></span>
      </p>
    <% end %>
  </div>

  <p class="mt-lg"><%= button_to "Удалить страницу", user_path(@user),
                     class: "button button-gray",
                     method: :delete,
                     form: {data: {turbo_confirm: 'Вы уверены, что хотите выйти из аккаунта?'}} %>
  </p>
</div>
