<div class="container mb-sm">
  <div class="user-box">
    <h2 class="title-large mt">
      <%= @user.name %>
      <% if current_user == @user %>
        <span class="text-small"> <%= link_to fa_icon("pencil"), edit_user_path(@user) %></span>
      <% end %>
    </h2>

    <div class="users-box mt">
      <%= render "users/user_avatar", user: @user %>
    </div>

    <p class="text-bold mt"><%= output_nickname(@user) %></p>
  </div>
</div>

<% if @questions.any? %>
  <div class="container mb-sm">
    <p><%= render "questions/form", question: @question %></p>
  </div>

  <div class="container mb-sm">
    <h2 class="title-large">
      <%= @questions.count %>
      <%= inclination(@questions.count, "вопрос", "вопроса", "вопросов") %>
    </h2>
  </div>

  <% @questions.each do |question| %>
    <% style = question.hidden? ? "semitransparent" : "" %>
    <div class="container mb-sm <%= style %>">
      <%= render question, question: question %>
    </div>
  <% end %>
<% else %>
  <%= render "empty_state", user: @user %>
<% end %>
