<!DOCTYPE html>
<html>
  <head>
    <title>Askme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="wrapper">
    <div class="navbar mb-sm" style="background-color: <%= current_user.present? ? current_user.header_color : "#fff1ff" %>">
      <p class="title text-bold"><%= link_to "Ask Me!", root_path %></p>

      <div>
        <% if current_user.present? %>
          <span class="mr"><%= link_to output_nickname(current_user), user_path(current_user) %></span>

          <%= button_to "Выйти", session_path,
            class: "button button-main",
            method: :delete,
            form: {data: {turbo_confirm: 'Вы уверены, что хотите выйти из аккаунта?'}} %>
        <% else %>
          <%= link_to "Регистрация", new_user_path, class: "button button-main mr" %>
          <%= link_to "Вход", new_session_path, class: "button button-main" %>
        <% end %>
      </div>
    </div>

    <% if flash[:notice].present? %>
      <p class="message message-notice container mb-sm"><%= flash[:notice] %></p>
    <% elsif flash[:alert].present? %>
      <p class="message message-alert container mb-sm"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
